$spacing--base: 10px;
$spacing--xxxs: 5px;
$spacing--xxs: $spacing--base;
$spacing--xs: 20px;
$spacing--s: 30px;
$spacing--m: 40px;
$spacing--l: 60px;
$spacing--xl: 80px;
$spacing--xxl: 100px;

$icon--base: 15px;

$border-radius--base: 5px;
$border-radius--xs: 2.5px;

$list-width--base: 300px;
