.ddash {
  &__list {
    align-self: baseline;
    background-color: $c1;
    border-radius: $border-radius--base;
    transition: background-color $transition-speed--l ease;

    &:hover {
      background-color: lighten($c1, 4);
    }

    &--add {
      width: $list-width--base;
    }
  }

  &__item {
    border-top: 1px solid $c2;
    max-height: 150px;
    padding: $spacing--xxs;

    & + & {
      margin-top: $spacing--xs;
    }
  }
}
