.ddash {
  &__list {
    align-self: baseline;
    background-color: $c1;
    border-radius: $border-radius--base;
    margin-top: 2px;
    transition: background-color $transition-speed--l ease;
    width: $list-width--base;

    &:hover {
      background-color: lighten($c1, 4);
    }

    &--pulled {
      overflow-y: scroll;
    }
  }

  &__item {
    border-top: 1px solid $c2;
    max-height: 150px;
    padding: $spacing--xxs;

    & + & {
      margin-top: $spacing--xs;
    }
  }
}
