.ddash {
  &__list {
    align-self: baseline;
    background-color: $c1;
    border-radius: 5px;
    margin-top: 2px;
    transition: background-color 0.3s ease;
    width: 300px;

    &:hover {
      background-color: lighten($c1, 4);
    }

    &--pulled {
      overflow-y: scroll;
    }
  }

  &__item {
    border-top: 1px solid $c2;
    max-height: 150px;
    padding: 10px;

    & + & {
      margin-top: 20px;
    }
  }
}
