.group {
  display: flex;

  &--icons {
    justify-content: space-between;
  }
}

.right {
  text-align: right;
}

.padded {
  padding: $spacing--xs;

  &--small {
    padding: $spacing--xxs;
  }
}

.center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spread {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
